body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

#app {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#textArea {
  width: calc(100% - 23px); /* Aggiornato qui */
  height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
}

#saveButton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

#downloadTime {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
