*.html linguist-vendored
*.css linguist-vendored

*.bat linguist-vendored

*.py linguist-vendored
*.java linguist-vendored
*.sh linguist-vendored
*.rb linguist-vendored
*.js linguist-vendored

gradlew linguist-vendored
gradlew_* linguist-vendored
