*.html linguist-vendored
*.css linguist-vendored

*.bat linguist-vendored

*.java linguist-vendored
*.sh linguist-vendored
*.rb linguist-vendored
*.js linguist-language=TypeScript
*.mjs linguist-vendored
*.hbs linguist-vendored
*.py linguist-vendored

gradlew linguist-vendored
gradlew_* linguist-vendored
