<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/books/style.css">
</head>
<body>
<h1>Lista di opere</h1>
<ul>
    {{#each this}}
        <li>{{this}}</a></li>
    {{/each}}
</ul>
</body>
</html>
